.company-home-page {
  display: flex;
  flex-direction: column;
}

.table-container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.left-table,
.right-table {
  width: 45%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.table button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.select-btn {
  background-color: lightblue;
  border: 1px solid blue;
}

.reject-btn {
  background-color: lightcoral;
  border: 1px solid red;
}

.view-details-btn {
  background-color: lightgreen;
  border: 1px solid green;
}
