.user-home-page {
  display: flex;
  flex-direction: column;
}

.jobs-filter-container {
  margin: 10px 0;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(19, 131, 149);
}
.jobs-filter-container select {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.jobs-filter-container option {
  background-color: transparent;
  color: black;
}
.jobs-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
