.jobcard {
  padding: 10px;
  max-height: 400px;
  width: 400px;
  box-shadow: 0 0 2px 0;
  border-radius: 10px;
  border: none;
}
.jobcard .top {
  display: flex;
}

.jobcard img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.jobcard .top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.jobcard .job_summary {
  height: 55px;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jobcard .mid {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.jobcard .mid-p-tag {
  background-color: rgb(88, 186, 78);
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
}

.jobcard .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jobcard .bottom-p-tag {
  font-size: smaller;
}
